<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.soboksobook"
    xmlns:tools="http://schemas.android.com/tools">
<!--    인터넷 사용권한 설정-->
    <!--    package="com.example.soboksobook"-->
    <uses-permission android:name="android.permission.INTERNET"/>
<!--    지도 로딩시 필요한듯..-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".kakaoApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SOBOKSOBOOK"
        tools:targetApi="31">
<!--        metadata는 applicatin 바로 아래..-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".MainActivity"
            android:exported="true">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

<!--                카카오-->
                <data android:host="oauth"
                    android:scheme="4a224fa5b29addfa992cef2e09436b2b" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


<!--        카카오 로그인 화면으로 이동위한 액티비티 추가-->
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:host="oauth"
                    android:scheme="4a224fa5b29addfa992cef2e09436b2b" />


            </intent-filter>
        </activity>

<!--        구글 지도도 저렇게 해줘야 경로를 잡나..?-->
       <activity android:name=".BookListActivity"/>
        <activity android:name=".BookNoteActivity"/>
        <activity android:name=".BookTimerActivity"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".MapTest"></activity>
    </application>




</manifest>